* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(./images/new.jpg);
  background-repeat: no-repeat;
  
}

.header {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

.body {
  margin-top: 40px;
  width: 1500px;
  height: auto;
  border-style: solid;
  border-radius: 0em;
  border-color: black;
  margin-left: 200px;
}

.head{
  height: 300px;
}
.logo img{
  padding-top: 50px;
  padding-left: 650px;
  width: 200px;
  height: 200px;
}

.dropbtn {
  
  background-image: url ('/images/drop.png') no-repeat;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
}


.dropdown {
  padding-top: 130px;
  float: right;
  padding-right: 50px;
  width: 70px;
  height: 70px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.down {
  padding-top: 20px;
  width: auto;
  height: 600px;
  border-style: solid ;
  border-radius: 200px;
}
