* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(./images/new.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  background-size: 1920px 1080px;
}

.header h1{
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
  text-decoration: aliceblue;
  font-size: 30px;
  text-decoration-color: #ddd;
}

.body {
  margin-top: 40px;
  width: 1500px;
  height: 1500px;
  border-style: solid;
  border-radius: 0em;
  border-color: black;
  margin-left: 200px;
}

.head{
  height: 300px;
}
.logo img{
  padding-top: 50px;
  padding-left: 650px;
  width: 200px;
  height: 200px;
}

.dropbtn {
  
  background-image: url ('/images/drop.png') no-repeat;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
}


.dropdown {
  padding-top: 130px;
  float: right;
  padding-right: 50px;
  width: 70px;
  height: 70px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.down {
  padding-top: 20px;
  width: auto;
  height: 1175px;
  border-style: solid ;
  border-radius: 200px 200px 0 0;
}

.part {
 height: 50px;
}

.head2 h2{
  text-align: center;
  
}
.rate {
  display: inline;
  
}

.rate h3{
  padding-left: 135px;
}

.rate  img{
  padding-left: 120px;
  width: 60px;
  height: 60px;
  padding-top: 90px;
}

.rate #bell{
  float: right;
  padding-right: 120px;
}
hr.line {
  border: 1px solid black;
  width: 1100px;
  margin-left: 200px;
  margin-top: 30px;
}
.part2 td{
  width: 750px;
  height: 450px;
  padding-left: 350px;
}

.part2 #img1{
  width: 200px;
  height: 200px;
}
.part2 #img2{
  width: 200px;
  padding-right: 300px;
  height: 200px;
}

hr.line2 {
  border: 1px solid black;
  width: 1100px;
  margin-left: 200px;
  margin-top: 30px;
}

.part3 h2{
  font-weight: 800;
  padding-top: 20px;
  padding-left: 200px;
}

.part3 table{
  padding-top: 30px;
}

.part3 #img3{
  width: 500px;
  padding-left: 200px;
}

.part3 #img4{
  width: 500px;
  padding-left: 200px;
}